.Base__Logo {
  $stroke-dash-size: 800;

  width: 300px;
  height: 300px;

  #heart {
    stroke: $RED !important;
    stroke-width: 5px !important;
  }

  #hammer {
    path {
      stroke: $WHITE !important;
      stroke-width: 5px !important;
    }
  }

  #text {
    path, rect {
      fill: none !important;
      stroke: $RED !important;
      stroke-width: 0.5px !important;
    }
  }

  &.hide-text {
    #text {
      visibility: hidden;
    }
  }

  &.animate {
    stroke-dasharray: $stroke-dash-size;
    stroke-dashoffset: $stroke-dash-size;

    #heart {
      animation: outline 4s 1s forwards;
    }

    #hammer {
      path {
        animation: outline 4s forwards,
                   fill-white 4s forwards;
      }
    }

    #text {
      path, rect {
        animation: outline 4s 3s forwards,
                   fill-red 3s 3s forwards;
      }
    }

    @keyframes outline {
      from {
        stroke-dashoffset: $stroke-dash-size;
      }
      to {
        stroke-dashoffset: 0;
      }
    }

    @keyframes fill-red {
      from {
        fill: $DARK;
      }
      to {
        fill: $RED;
      }
    }

    @keyframes fill-white {
      from {
        fill: $DARK;
      }
      to {
        fill: $WHITE;
      }
    }
  }
}
